<p-card>
  <div class="grid">
    <div class="col m-2">
      <input-text-widget [title]="'name'"></input-text-widget>
    </div>
  </div>
  <div class="grid">
    <div class="col m-2">
      <input-text-widget [title]="'email'"></input-text-widget>
    </div>
  </div>
  <div class="grid">
    <div class="col m-2">
      <input-password-widget></input-password-widget>
    </div>
  </div>
  <div class="grid">
    <div class="col m-2">
      <p-button label="Register" styleClass="w-full"></p-button>
    </div>
  </div>
</p-card>

